@font-face {
  font-family: 'GLOW NIGHT';
  src: url('Fonts/DESIGNER.otf') format('opentype');
}
@font-face {
  font-family: 'coolvetica';
  src: url('Fonts/coolvetica.otf') format('opentype');
}

img{
  max-width: 10000px;
  max-height: 700px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.divheight{
  padding-top: -100px;
  height: auto;
  width: 30%;
}

.sticky {
  position: sticky;
  top: 1%;
}

.roundedcr{
  border-radius: 90px;
}

.maxh{
height: 500px;
}

.left{
  margin-left: 8%;
}

.middleleft{
  margin-left: 6%;
}

.right{
  margin-right: 8%;
}

.rounded {
  border-radius: 20px;
  background-color: aqua;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  margin-left: 2%; 
}

.textback{
  background-color: #CFC0B3;
  text-align: center;
  padding: 20px;
}


body {
  text-decoration: none;
  background: linear-gradient(180deg, #B2A4FF 0%, #FFB4B4 30%, #FFDEB4 60%, #FDF7C3 100%);
  font-family: 'coolvetica', sans-serif;
  font-size: larger;
}

.outerbox {
  backdrop-filter: blur(2000px);
  border-radius: 50px;
  width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 5px;
  margin-bottom: 2%;
  background: linear-gradient(180deg, #B2A4FF 0%);
}

.header {
  font-family: 'GLOW NIGHT', sans-serif;
  display: inline-block;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  width: 19%;
  color: black;
  font-weight: 900;
  text-align: center;
  transition: background-color 0.3s ease;
  
}

.header:hover {
  background-color: white;
}

.firstcontainer{
  max-height: fit-content;
  background-position: center;
  height: 700px;
  width: 35%;
  transition: opacity 0.3s ease;
}

.firstcontainer p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.firstcontainer:hover p{
  opacity: 1;
}

.firstcontainer:hover{
opacity: 0.7;
}
.row {
  display: flex;
}

.second-container{
  overflow: hidden;
  transition: opacity 0.3s ease;
  background-image: url(photo/peakpx\ \(111\).jpg);
  background-size: 100%;
  width: 43%;
  height: 540px;
  border: 2px solid;
  color: pink;  
}

.second-container:hover{
opacity: 0.7;
}

.second-container p{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  opacity: 0;
  transition: opacity 0.3s ease; 
} 

.second-container:hover p{
opacity: 1;
}

#2ndline{
  width: 40%;
  height: 700px;
  overflow: hidden;
}

#2ndline img{
  width: 100%;
  height: 100%;
}

.third-container{
  overflow: hidden;
  transition: opacity 0.3s ease;
  background-image: url(photo/new.jpeg);
  background-size: 100%;
  background-position: 0px;
  /*padding-bottom: 20%;*/
  width: 84%;
  height: 600px;
  color: #FFDEB4;  
}

.third-container p{
  opacity: 0;
  height: 60vh;
  display: flex;
  align-items: self-start;
  justify-content: left;
  padding-left: 12%;
  padding-top: 15%;
}

.third-container:hover{
  opacity: 0.7;
}

.third-container:hover p{
 opacity: 1;
}

.third-container1{
  height: 400px;
  width: auto;
  border-radius: 50px;
  margin-top: 3%;
}

.footer{
  display: inline-flex;
  background-color: #282A3A; /* other color #2D4356 */
  width: 98.9%;
  padding: 100px 15%;
  margin: -0.5%;
  padding: 1%;
  text-align: center;
  margin-top: 3%;
  color: white;
} 

.col-1{
  flex-grow: 6;
  display: block;
}

.col-2{
  flex-grow: 6;
}

.col-3{
  flex-grow: 6;
}
